<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Testing.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Testing.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <connectionStrings>
      <add name="UsersConnection" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=E:\ПП.01\Testing\Testing\Users.mdf;Integrated Security=True" providerName="System.Data.SqlClient" />
      <!--<add name="UsersConnection"
           connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=Users.mdf;Integrated Security=True"
           providerName="System.Data.SqlClient"/>-->
    </connectionStrings>
    <userSettings>
        <Testing.Properties.Settings>
            <setting name="defaulf_test_file_save_path" serializeAs="String">
                <value>C:\Users\sMali\Documents\MyTests\</value>
            </setting>
            <setting name="number_of_starts" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="default_result_path" serializeAs="String">
                <value>C:\Users\sMali\Documents\MyResults\</value>
            </setting>
        </Testing.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <Testing.Properties.Settings>
      <setting name="create_database" serializeAs="String">
        <value>if not exists (select * from sys.tables where name='group')
begin
create table [dbo].[group]
(
	[id] INT NOT NULL PRIMARY KEY Identity(1, 1),
	[name] nvarchar(10) not null
)
end
if not exists (select * from sys.tables where name='User')
begin
create table [dbo].[User]
(
	[id] INT NOT NULL PRIMARY KEY Identity(1, 1),
	[name] nvarchar(20) not null,
	[pass] nvarchar(20),
	[group] int not null
)
end

if not exists (select * from [group]) insert into [group]([name]) values (N'admin')

if not exists (select * from [User]) insert into [dbo].[User] ([name], [pass], [group]) VALUES (N'root', N'root', 1)
</value>
      </setting>
    </Testing.Properties.Settings>
  </applicationSettings>
</configuration>